---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
  <h1>Patrimonio</h1>
  
  <div class="art-detail">
    <div class="art-picture"></div>
    <div class="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non risus ultricies, euismod tellus id, consectetur diam. Etiam varius, lorem id finibus vulputate, lectus ipsum tincidunt metus, eu bibendum ex nibh
    </div>
  </div>
</BaseLayout>